<h1>Welcome, <%= current_user.username %></h1>
<%= link_to "View All Available Rewards", new_user_reward_path %>

<div class="points">
  <table border=2px>
    <tr>
      <td>Total Points</td>
      <td>Redeemed Points</td>
    </tr>
    <tr>
      <td><%= current_user.points %> points</td>
      <td><%= current_user.redeemed_points %> points</td>
    </tr>
  </table>
</div>


<div class="rewards">
  <h3 class="rewards">Your Redeemed Rewards</h3>
  <table class="rewards" border=2px, width="50%">
      <tr>
        <td>Reward</td>
        <td>Description</td>
        <td>Cost</td>
      </tr>
        <% current_user.rewards.each do |reward| %>
        <tr>
          <td><%= reward.name %></td>
          <td><%= reward.description %></td>
          <td><%= reward.cost %></td>
      </tr>
        <% end %>
  </table>
</div>
