<h1>User Information Page for: <%= @user.username %></h1>


<div class="user_information">

<table border=2px>
  <tr>
    <td>Profile Picture</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Username</td>
    <td>Current Points</td>
    <td>Rewards Owned</td>
  </tr>
  <tr>
    <td><img src="<%= @user.profile_picture(:thumb) %>" alt="Profile picture for user: <%= @user.username %>" /></td>
    <td><%= @user.first_name %></td>
    <td><%= @user.last_name %></td>
    <td><%= @user.username %></td>
    <td><%= @user.points %></td>
      <% if @user.rewards.count != 0 %>
      <td><%= @user.rewards.join(", ") %></td>
        <% else %>
      <td>NONE</td>
    <% end %>
  </tr>
</table>
</div>
